<div class="container">
  <h1>Stupid coach</h1>

  <div class="v-line">
    <div class="left-text">
      <p><%= @question%></p>
      <p>-You</p>
    </div>
  </div>

  <div class="v-line2" >
    <div class="left-text">
      <p><%= @answer%></p>
      <p>-Your coach</p>
    </div>
  </div>
  <%= link_to "Ask a new question", "/ask"%>
</div>
